.page-header{
	font-size: 30px;
}
.jumbotron{
	background-color: #4C8FFC;
	background-image: url("http://2.bp.blogspot.com/-YtLrRnloHb4/VHW9k67vJ_I/AAAAAAAABE8/dzC3sq6vmG0/s1600/Good%2BAbstract%2BBackgrounds%2B(3).jpg");
	background-position: center;
	padding: 20px;
	color: #000;
	font-weight: bold;
	margin-top: 10px;
	line-height: 30px;
}
.circle{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
img{
	max-width: 100%;
	border-radius: 50%;
}
.footer{
	border-top: 1px solid black;
	margin-top: 40px;
	padding-top: 10px;
}
.phone{
	text-align: right;
}
.jumbotron .col-lg-9{
	padding-top: 10px;
}